extends default

block content
    article.breadcrumbs
        .breadcrumbs-container.container
            .b-right-block
                span You Are Here:
                span 
                    a.b-link(href="/") HOME
                span  /
                span 
                    a.b-link(href="javascript:history.back()") BLOG
                span  / 
                span.b-line #{record.title}
    article.blog-list
        .blog-list-content.container
            - var hashtags = function(arraylist) {
            -   var hashtags_list = "&hashtags=";
            -   for (var j=0; j<arraylist.length; j++) {
            -       if (typeof arraylist[j].tag_name != "undefined") hashtags_list += arraylist[j].tag_name;
            -       if (j < arraylist.length-1) hashtags_list += ",";
            -   }
            -   if (hashtags_list != "&hashtags=") return hashtags_list;
            -   else return ""
            - }
            .blog-note-container
                .blog-note
                    .note-share
                        a.share-date(href="#")
                            span.share-day #{record.date.getDate()}
                            span#share-month-id.share-month #{monthsList[record.date.getMonth()]}
                        .share-smm-block
                            a.share-smm(href=`https://vk.com/share.php?url=localhost:3000/blog/record?id=${record._id}`, target="_blank")
                                i.fab.fa-vk
                            a.share-smm(href=`https://www.facebook.com/sharer/sharer.php?u=localhost:3000/blog/record?id=${record._id}`, target="_blank")
                                i.fab.fa-facebook-f
                            a.share-smm(href=`http://twitter.com/share?text=${record.title}&url=localhost:3000/blog/record?id=${record._id}${hashtags(record.tag_array)}`, target="_blank")
                                i.fab.fa-twitter
                    .note-info
                        h2 #{record.title}
                        h4
                            |By 
                            a(href="#") #{record.autor} 
                            |in 
                            - var j = 0;
                            each tag in record.tag_array
                                a.note-category(href="#") #{tag.tag_name}
                                if j < record.tag_array.length-1
                                    |, 
                                else
                                    |
                                - j++
                        br
                        a.note-image
                            img(src=`${record.main_img_path}`)
                        p #{record.description}
            .blog-sidebar
                .sidebar-container
                    h3 SEARCH
                    .search-block
                        input.input-all(type="search", name="search", id="search", placeholder="Enter keyword...", autocomplete="off")
                        button.btn-all(type="submit") search