extends default

block content
    article.breadcrumbs
        .breadcrumbs-container.container
            .b-left-block
                span.b-black BLOG
            .b-right-block
                span You Are Here:
                span 
                    a.b-link(href="/") HOME
                span  / 
                span.b-line BLOG
    article.blog-list
        .blog-list-content.container
            .blog-note-container
                each blog in blogs
                    .blog-note
                        .note-share
                            a.share-date(href="#")
                                span.share-day #{blog.date.getDay()}
                                span#share-month-id.share-month #{monthsList[blog.date.getMonth()]}
                            .share-smm-block
                                a.share-smm(href="#")
                                    i.fab.fa-vk
                                a.share-smm(href="#")
                                    i.fab.fa-facebook-f
                                a.share-smm(href="#")
                                    i.fab.fa-twitter
                        .note-info
                            a.note-image(href="#")
                                img(src=`${blog.main_img_path}`, alt="")
                            h4
                                |By 
                                a(href="#") #{blog.autor} 
                                |in 
                                a.note-category(href="#") #{blog.tag_name}
                            a.note-h(href="#") #{blog.title}
                            p #{blog.description}
                .blog-pagination
                    if (totalPages >= 1 && totalPages <= 3)
                        if (pageNo != 1)
                                a.nav-next(href=`/blog?page=${pageNo-1}&size=${size}`) 
                                    i.fas.fa-chevron-left
                                    |prev
                        a.nav(class=(pageNo === 1 ? "nav-active" : ""), href=`/blog?page=1&size=${size}`) 1
                        if (totalPages != 1)
                            - for (var i=2; i<=totalPages; i++) {
                                a.nav(class=(pageNo === i ? "nav-active" : ""), href=`/blog?page=${i}&size=${size}`) #{i}
                            - }
                            if (pageNo != totalPages)
                                a.nav-next(href=`/blog?page=${pageNo+1}&size=${size}`) 
                                    |next
                                    i.fas.fa-chevron-right
                    else if (totalPages >= 1 && totalPages <= 5)
                        //Логика для первых двух страниц
                        if (pageNo != 1)
                                a.nav-next(href=`/blog?page=${pageNo-1}&size=${size}`) 
                                    i.fas.fa-chevron-left
                                    |prev
                        a.nav(class=(pageNo === 1 ? "nav-active" : ""), href=`/blog?page=1&size=${size}`) 1
                        if (pageNo >=1 && pageNo <= 2)
                            a.nav(class=(pageNo === 2 ? "nav-active" : ""), href=`/blog?page=2&size=${size}`) 2
                            a.nav.nav-disabled ...
                        
                        //Логика для 3 страницы
                        if (pageNo === 3)
                            a.nav(href=`/blog?page=2&size=${size}`) 2
                            a.nav.nav-active(href=`/blog?page=${pageNo}&size=${size}`) #{pageNo}
                            a.nav(href=`/blog?page=${totalPages-1}&size=${size}`) #{totalPages-1}

                        //Логика для последних двух страниц
                        if (pageNo >= totalPages-1 && pageNo <= totalPages)
                            a.nav.nav-disabled ...
                            a.nav(class=(pageNo === totalPages-1 ? "nav-active" : ""), href=`/blog?page=${totalPages-1}&size=${size}`) #{totalPages-1}
                        a.nav(class=(pageNo === totalPages ? "nav-active" : ""), href=`/blog?page=${totalPages}&size=${size}`) #{totalPages}
                        if (pageNo != totalPages)
                            a.nav-next(href=`/blog?page=${pageNo+1}&size=${size}`) 
                                |next
                                i.fas.fa-chevron-right
                    else if (totalPages > 5)
                        //Логика для первых двух страниц
                        if (pageNo != 1)
                                a.nav-next(href=`/blog?page=${pageNo-1}&size=${size}`) 
                                    i.fas.fa-chevron-left
                                    |prev
                        a.nav(class=(pageNo === 1 ? "nav-active" : ""), href=`/blog?page=1&size=${size}`) 1
                        if (pageNo >=1 && pageNo <= 2)
                            a.nav(class=(pageNo === 2 ? "nav-active" : ""), href=`/blog?page=2&size=${size}`) 2
                            a.nav.nav-disabled ...
                        
                        //Логика для 3 страницы
                        if (pageNo === 3)
                            a.nav(href=`/blog?page=2&size=${size}`) 2
                            a.nav.nav-active(href=`/blog?page=${pageNo}&size=${size}`) #{pageNo}
                            a.nav.nav-disabled ...

                        //Логика для промежуточных пагинаций
                        if (pageNo > 3 && pageNo < totalPages-2 && totalPages > 5)
                            a.nav.nav-disabled ...
                            a.nav.nav-active(href=`/blog?page=${pageNo}&size=${size}`) #{pageNo}
                            a.nav.nav-disabled ...

                        //Логика для предпредпоследней страницы
                        if (pageNo === totalPages-2)
                            a.nav.nav-disabled ...
                            a.nav.nav-active(href=`/blog?page=${pageNo}&size=${size}`) #{pageNo}
                            a.nav(href=`/blog?page=${totalPages-1}&size=${size}`) #{totalPages-1}

                        //Логика для последних двух страниц
                        if (pageNo >= totalPages-1 && pageNo <= totalPages)
                            a.nav.nav-disabled ...
                            a.nav(class=(pageNo === totalPages-1 ? "nav-active" : ""), href=`/blog?page=${totalPages-1}&size=${size}`) #{totalPages-1}
                        a.nav(class=(pageNo === totalPages ? "nav-active" : ""), href=`/blog?page=${totalPages}&size=${size}`) #{totalPages}
                        if (pageNo != totalPages)
                            a.nav-next(href=`/blog?page=${pageNo+1}&size=${size}`) 
                                |next
                                i.fas.fa-chevron-right
            .blog-sidebar
                .sidebar-container
                    h3 SEARCH
                    .search-block
                        input.search-input(type="search", name="search", id="search", placeholder="Enter keyword...", autocomplete="off")
                        button.search-sub(type="submit") search